<section style="padding-top:50px;">
  <div class="row">
  <div class="col-md-12">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user" style="margin: 20px auto; width: 600px;">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-black" style="background: url('../dist/img/photo1.png') center center;">
              <h3 class="widget-user-username">家庭帮</h3>
              <h5 class="widget-user-desc">Web Designer</h5>
            </div>
            <div class="widget-user-image">
              <img class="img-circle" src="../dist/img/user3-128x128.jpg" alt="User Avatar">
            </div>
            <div class="box-footer" style="height: 150px">
              <div class="row">
                <div class="col-sm-4 border-right" style="margin-top: 50px;">
                  <div class="description-block" >
                    <h5 class="description-header">系统版本</h5>
                    <span class="description-text">V1.0</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right"  style="margin-top: 50px;">
                  <div class="description-block">
                    <h5 class="description-header">系统更新</h5>
                    <span class="description-text">2017/5/24</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4"  style="margin-top: 50px;">
                  <div class="description-block">
                    <h5 class="description-header">作者</h5>
                    <span class="description-text">阳霞</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <p style="line-height:100px; text-align: center;">联系电话：13306428560</p>
          </div>
          <!-- /.widget-user -->
        </div>
      </div>
</section>